.container {
  display: flex;
  width: 50vw;
  margin: auto;
  flex-direction: column;
  justify-content: center;
}

#game div {
  border: 1px solid black;
  width: 100px;
  height: 100px;
  margin: 10px;
  display: inline-block
}

/* .box1 */
.dropdown {
  display: inline-block;
  position: relative;
  top: 10px;
  height: 30vh;
}

.dropdown button {
  border: none;
  padding: 8px 16px;
  background-color: lightblue;
  color: black;

  cursor: pointer;
}

.dropdown:hover button {
  background-color: lightblue;
}


.dropdown div {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1;
  display: none;
  /* visibility: hidden; */
  position: absolute;
  min-width: 100%;


}

.dropdown:hover div {
  display: block;

}

.dropdown div a {
  display: block;
  text-decoration: none;
  padding: 8px;
  color: #000;

  white-space: nowrap;
}

.dropdown div a:hover {
  background-color: lightblue;
  color: black;
}

.box1 {
  display: flex;
  justify-content: space-evenly;
  height: 20vh;
  align-items: flex-start;
}

.reset {
  position: relative;
  top: 10px;
  border: none;
  padding: 8px 16px;
  background-color: lightblue;
  color: black;

  cursor: pointer;